* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
}
header,
section {
  overflow-x: hidden;
}

h2 {
  background: linear-gradient(to top, #ffa900, red);
  -webkit-background-clip: text;
  color: transparent;

  border-bottom-style: solid;
  border-color: tomato;

  width: 18%;
  display: inline-block;
  font-weight: bold;
}
header a {
  font-family: sans-serif;
  font-size: 0.9em;
  color: whitesmoke;
}

header .nav-link {
  font-family: sans-serif;
  font-size: 0.9em;
  color: #fff;
  border: solid 1px rgba(255, 255, 255, 0);
  border-radius: 40px;

}
header .nav-link:hover {
  border: solid 1px #ffffff;
  background: #ffffff;
 
}
header .nav-item:last-child {
  padding-right: 7.5em;
}
header .nav-item {
  padding: 0.7em;
}
header .navbar-brand {
  padding-left: 8rem;
}
header .nav-link:hover {
  color: rgb(247, 151, 26);
}
.carousel-caption h5{
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption h1{
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
}
.carousel-caption p{

  margin: auto;
  font-size: 14px;
  line-height: 1.9;

}
.carousel-caption a{
  text-transform: uppercase;

  padding: 10px 30px;
  display: inline-block;
  color: whitesmoke;
  margin-top: 15px;
  
}

.carousel-caption a:hover {
  background: linear-gradient(rgb(230, 227, 223), rgb(236, 155, 3));
}

/********** services **************/
.service-section {
  background:linear-gradient(to right,rgb(2 1 1),rgb(14 13 12));
 
}

.service-box h4{font-size: 20px;
  background: linear-gradient(
    to right,
    rgb(255 88 13 / 80%),
    rgb(243 15 15 / 80%)
  );

}
  
  .service-box h4:hover{
     background: linear-gradient(
    to right,
    rgb(235 85 10 / 80%),
    rgb(222 248 42 / 80%)
  );
   
  }

span {
  background: linear-gradient(to top, #ff900d, #ff3030);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}
















.specialitiers .item {
 
  height: 330px;
  box-shadow: 0 0 10px #cccccc;
  overflow: hidden;
  padding: 2px;
  position: relative;
  z-index: 1;

 
}
.specialitiers.text-center .item {
  background: linear-gradient(to bottom,rgb(255 252 252),rgb(246 243 243));
border: medium none;

}

.specialitiers.text-center .item button{
  background: linear-gradient(
    to right,
    rgb(223 85 23 / 80%),
    rgb(243 15 15 / 80%)
  );

border:none;
}

.specialitiers.text-center .item button:hover{
  background: linear-gradient(
    to right,
    rgb(235 85 10 / 80%),
    rgb(222 248 42 / 80%)
  );


}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(255 88 13 / 80%),
    rgb(243 15 15 / 80%)
  );
  z-index: 9999;
  transition: all 1.5s ease;
}

.footer {
  background: linear-gradient(
    to right,
    rgb(255 88 13 / 80%),
    rgb(243 15 15 / 80%)
  );
}


  .ft {
    background: white;
 
  
    padding:14vmin 18vmin;
  }
  .service-bo {
    font-size: 20px;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 254, 254, 0.5);
    box-shadow: 0px 0px 18px 0 #f31b1b2c;
    transition: 0.3s ease box-shadow;
  }
  .service-bo:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
  }  


.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0 3;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-youtube,
.fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: linear-gradient(rgb(218, 103, 8), rgb(253, 33, 224));
}

.rounded-social-buttons .social-button.instagram:hover {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}

.address-box a:hover{
  color: white;
}

@media(max-width:991px) {
  header .navbar-brand {
    padding-left: 1rem;
  }
 
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    /* background: no-repeat center center; */
    background-size: 100% 100%;
    background: rgb(252, 250, 250);
  }


 


 

 .carousel-caption {
  position: absolute;
  /* right: 15%; */
  bottom: 0%;
  top: 50%;
  /* left: 15%; */
  z-index: 10;
  /* padding-top: 50px; */
  color: #fff;
  text-align: center;
}

.carousel-caption h5{
font-size: 17px;
text-transform: uppercase;


}
.carousel-caption h1{
font-size: 25px;
text-transform: uppercase;


}
.carousel-caption a{
text-transform: uppercase;

padding: 8px 18px;
display: inline-block;


  font-size: 9px;

}
.w-100
{

height: 80vh;
 
 
}
  
.specialitiers .item {
  border-left: 2px solid #00a01d;
  height: 320px;
  box-shadow: 0 0 10px #cccccc;
  overflow: hidden;
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
  
 
 
}
.specialitiers.text-center .item {
  background: linear-gradient(to bottom,rgb(255 252 252),rgb(246 243 243));
border: medium none;

}
 
  .section-2 .cover {
    background-position: -25vmin -10vmin;
  }
  

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: linear-gradient(
      to right,
      rgb(255 88 13 / 80%),
      rgb(243 15 15 / 80%)
    );
}
}

@media(max-width:767px) {
  header .navbar-brand {
    padding-left: 1rem;
  }
 
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    /* background: no-repeat center center; */
    background-size: 100% 100%;
    background: rgb(252, 250, 250);
  }

header .nav-link {
  font-family: sans-serif;
  font-size: 0.9em;
  color: #fff;
  border: solid 1px rgba(255, 255, 255, 0);
  border-radius: 30px;
}
header .nav-link:hover {
  border: solid 1px #ffffff;
  background: #ffffff;
   width:98px;
}

 


.carousel-caption {
  position: absolute;
  /* right: 15%; */
  bottom: 0%;
  /* left: 15%; */
  z-index: 10;
  /* padding-top: 50px; */
  padding-bottom: 40px;
  color: #fff;
  text-align: center;
}

.carousel-caption h5{
font-size: 10px;
text-transform: uppercase;


}
.carousel-caption h1{
font-size: 18px;
text-transform: uppercase;


}
.carousel-caption a {
text-transform: uppercase;
padding: 8px 18px;
display: inline-block;
font-size: 8px;
}

 
  .section-2 .cover {
    background-position: -25vmin -10vmin;
  }
  
  .w-100
  {

  height: 80vh;
   
   
  }
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: linear-gradient(
      to right,
      rgb(255 88 13 / 80%),
      rgb(243 15 15 / 80%)
    );
}
header .nav-link {
  font-family: sans-serif;
  font-size: 11px;
  color: #fff;
  border: solid 1px rgba(255, 255, 255, 0);
  border-radius: 30px;
}
.carousel-caption a {
    text-transform: uppercase;
    padding: 5px 20px;
    display: inline-block;
    color: whitesmoke;
    margin-top: 10px;
}
}